mat-toolbar {
  background-color: #f0f0f0 !important;
  color: #333 !important;
}

.body {
  min-height: calc(100vh - 128px);
  background-color: #fafafa;
  padding: 24px;
}

mat-divider {
  margin: 24px 0;
}

.jobs-layout {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.jobs-table {
  flex: 0 0 70%;
}

.job-result {
  flex: 0 0 calc(30% - 24px);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
